:root {
  --clr-background: #000101;
  --clr-text: #e0ffff;
  --clr-primary: #007f5f;
  --clr-secondary: #2b9348;
  --clr-accent-rich: #dddf00;
  --clr-accent-dull: #ffff3f;
}

html {
  color: var(--clr-text);
  background: radial-gradient(
      circle at 80% 1%,
      color-mix(in srgb, var(--clr-text) 20%, transparent) 2.75%,
      transparent 30%
    ),
    radial-gradient(
      circle at 5% 30%,
      color-mix(in srgb, var(--clr-accent-dull) 20%, transparent) 5%,
      transparent 20%
    ),
    var(--clr-background);
}

header {
  min-height: 80vh;
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  place-items: center;
}

.name {
  font-size: max(1vw, 8rem);
}

.first-name {
  color: var(--clr-accent-dull);
}

.last-name {
  color: var(--clr-accent-rich);
}

.slogan {
  isolation: isolate;
  position: relative;
  max-width: 35rem;
  place-self: center;
}

section {
  min-height: 30vh;
  margin: 10vw;
}

.about-me {
  background: var(--clr-accent-dull);
}

.projects {
  background: var(--clr-primary);
}

.contact {
  background: var(--clr-secondary);
}
