:root {
  --clr-background: #000101;
  --clr-text: #e0ffff;
  --clr-primary: #007f5f;
  --clr-secondary: #2b9348;
  --clr-accent-rich: #dddf00;
  --clr-accent-dull: #ffff3f;
}

html {
  color: var(--clr-text);
  background-color: var(--clr-background);
  font-family: system-ui, sans-serif;
}

/* -----Navigation Bar----- */
.nav-bar {
  isolation: isolate;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  min-height: 5vh;
  width: 93%;
  padding: 0 5vw 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-background);
  font-size: 1.125rem;
}

.nav-bar::after {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 6vh;
  background: linear-gradient(
    to right,
    var(--clr-text) 30%,
    color-mix(in srgb, var(--clr-background) 40%, var(--clr-text))
  );
  transform: skewX(-40deg);
  z-index: -1;
}

.nav-name {
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 5rem;
}

.nav-links a {
  color: var(--clr-background);
  text-decoration: none;
}

.nav-links span {
  font-weight: bold;
}

/* -----Side Header----- */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-background);
  background: var(--clr-text);
}

.header-text {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.title {
  font-size: clamp(2rem, 3.25vw + 1rem, 5rem);
  font-weight: bold;
  line-height: 0.8;
}

.slogan {
  font-size: clamp(1rem, 1vw + 0.5rem, 1.275rem);
  font-style: italic;
}

/* -----Main Content----- */
main {
  margin: 0 2% 0 32%;
}

/* -----Footer----- */
footer {
  height: 30svh;
  background: radial-gradient(
    ellipse at 80% 100%,
    color-mix(in srgb, var(--clr-text) 10%, transparent),
    transparent 45%
  );
}

/* -----Utility Classes----- */
.clr-primary {
  color: var(--clr-primary);
}

.clr-secondary {
  color: var(--clr-secondary);
}

.clr-accent-dull {
  color: var(--clr-accent-dull);
}

.clr-accent-rich {
  color: var(--clr-accent-rich);
}

/* !!----TESTING ONLY----!! */
section {
  min-height: 30svh;
  margin: 20svh 0;
}

.about {
  background-color: var(--clr-primary);
}

.projects {
  background-color: var(--clr-secondary);
}

.contact {
  background-color: var(--clr-accent-dull);
}

.other {
  background-color: var(--clr-accent-rich);
}
