:root {
  --clr-background: #000101;
  --clr-text: #e8ffff;
  --clr-primary: #007f5f;
  --clr-secondary: #2b9348;
  --clr-accent-rich: #dddf00;
  --clr-accent-dull: #ffff3f;
}

html {
  color: var(--clr-text);
  background: radial-gradient(
      ellipse at 80% 100%,
      color-mix(in srgb, var(--clr-text) 10%, transparent),
      transparent 45%
    ),
    var(--clr-background);
  font-family: system-ui, sans-serif;
  overflow-x: hidden;
}

.page-link {
  position: relative;
  top: -8vh;
}

/* -----Navigation Bar----- */
.nav-bar {
  isolation: isolate;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  min-height: 5vh;
  width: 93%;
  padding: 0 5vw 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-background);
  font-size: 1.125rem;
}

.nav-bar::after {
  content: "";
  position: absolute;
  left: -10%;
  width: 110%;
  min-height: 6vh;
  background: var(--clr-text);
  transform: skewX(-40deg);
  z-index: -1;
}

.nav-name {
  font-size: 1.5rem;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 5rem;
}

.nav-links a {
  color: var(--clr-background);
  text-decoration: none;
}

.nav-links a:hover {
  border-bottom-width: 4px;
}

.nav-links span {
  font-weight: bold;
}

.progress {
  height: 2px;
  width: 0%;
  background-color: var(--clr-text);
  position: fixed;
  top: 6vh;
  left: 0;
  transform: skewX(-45deg);
  animation: progress 1s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

/* -----Side Header----- */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-text);
  background: var(--clr-background);
  z-index: 888;
}

.header-text {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.title {
  font-size: clamp(2rem, 3vw + 1.5rem, 4.5rem);
  font-weight: bold;
  line-height: 0.8;
  text-shadow: 0 0 0.025em var(--clr-primary);
  transition: all 0.3s;
}

.title:hover {
  color: color-mix(in srgb, var(--clr-primary) 80%, var(--clr-text));
  text-shadow: 0 0 0.125em var(--clr-primary);
}

.hire-me {
  --active-color: var(--clr-text);
  position: relative;
  width: 40%;
  height: 1.7em;
  margin: 0.2em auto 0.2em 20%;
  border-radius: 10px;
  background-color: var(--active-color);
  font-size: clamp(1.275rem, 1vw + 0.5rem, 1.4rem);
  font-weight: bold;
  transition: width 0.2s, margin 0.2s, background-color 0.3s;
}

.hire-me:hover {
  --active-color: color-mix(
    in srgb,
    var(--clr-accent-dull) 98%,
    var(--clr-text)
  );
  cursor: pointer;
  width: 60%;
  margin: 0.2em auto 0.2em 10%;
  background-color: var(--active-color);
  box-shadow: 0 0 0.2em var(--active-color);
}

.hire-me::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 2em;
  width: 100%;
  background: var(--active-color);
  transform: perspective(1em) rotateX(10deg);
  filter: blur(10px);
  opacity: 0.15;
}

/* -----Main Content----- */
main {
  position: relative;
  margin: 0 1% 0 31%;
  padding: 0 1% 0 1%;
}

main::after {
  content: "";
  position: absolute;
  top: 10svh;
  left: 0;
  height: 98%;
  width: 2px;
  background: var(--clr-text);
}

.parallax-container {
  position: absolute;
  top: 0;
  left: 30%;
  height: 100%;
  width: 70%;
  z-index: -999;
  overflow: hidden;
}

.background-pattern {
  --clr-background-alt: color-mix(
    in srgb,
    var(--clr-background) 96.5%,
    var(--clr-text)
  );
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(
    var(--clr-background-alt) 0svh 20svh,
    transparent 20svh 27svh,
    var(--clr-background-alt) 27svh 35svh,
    transparent 35svh 37svh,
    var(--clr-background-alt) 37svh 40svh,
    transparent 40svh 45svh
  );
  animation: parallax 1s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

/* -----About Section----- */
.about {
  isolation: isolate;
  position: relative;
}

.about::after {
  content: "";
  position: absolute;
  top: 60%;
  left: -150%;
  width: 230%;
  min-height: 30%;
  transform: skewX(-8deg) rotate(-8deg);
  background: linear-gradient(
    to right,
    var(--clr-primary) 50%,
    transparent 50%
  );
  z-index: -1;
  animation: slide-in 2s ease-out 1 forwards;
}

.about h2 {
  display: inline-block;
  margin: 10svh 0 0.4rem 0.5rem;
  padding: 0 1rem 0 1rem;
  font-size: clamp(1.5rem, 3.25vw + 1rem, 3rem);
  font-weight: bold;
  text-shadow: 0 0 0.2em var(--clr-primary);
  text-decoration: underline double 2px;
}

.about .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
}

.about-text {
  padding: 1rem;
  border: 5px solid var(--clr-primary);
  background-color: var(--clr-background);
}

.about img {
  max-height: 80svh;
}

/* -----Projects Section----- */
.projects {
  margin: 20svh 0;
}

.projects h2 {
  display: inline-block;
  margin: 0 0 0.4rem 0.5rem;
  padding: 0 1rem 0 1rem;
  border-bottom: 3px solid var(--clr-secondary);
  box-shadow: 0 1px var(--clr-text);
  font-size: clamp(1.5rem, 3.25vw + 1rem, 3rem);
  font-weight: bold;
}

.project {
  margin-left: 5vw;
  color: var(--clr-secondary);
  font-size: clamp(2rem, 3.25vw + 1rem, 4rem);
  font-weight: bold;
  transition: all 0.2s;
}

.project:hover {
  transform: perspective(10em) rotateY(30deg);
}

/* -----Footer----- */
footer {
  height: 30svh;
  margin: 0 2% 0 32%;
}

.made-by {
  position: relative;
  top: 85%;
  left: 0;
  text-align: center;
  font-style: italic;
}

/* -----Utility Classes----- */
strong {
  font-weight: bold;
}

.clr-primary {
  color: var(--clr-primary);
}

.clr-secondary {
  color: var(--clr-secondary);
}

.clr-accent-dull {
  color: var(--clr-accent-dull);
}

.clr-accent-rich {
  color: var(--clr-accent-rich);
}

.brdr-b-primary {
  border-bottom: 2px solid var(--clr-primary);
}

.brdr-b-secondary {
  border-bottom: 2px solid var(--clr-secondary);
}

.brdr-b-accent-dull {
  border-bottom: 2px solid var(--clr-accent-dull);
}

.brdr-b-accent-rich {
  border-bottom: 2px solid var(--clr-accent-rich);
}

/* -----Animations----- */
@keyframes progress {
  to {
    width: 91.5%;
  }
}

@keyframes slide-in {
  to {
    top: 50%;
    left: -10%;
  }
}

@keyframes parallax {
  to {
    transform: translateY(30%);
  }
}

/* !!----TESTING ONLY----!! */
.contact {
  min-height: 30svh;
  margin: 20svh 0;
  background-color: var(--clr-accent-dull);
}

.other {
  min-height: 30svh;
  margin: 20svh 0;
  background-color: var(--clr-accent-rich);
}
